<head>
  <title>Bookers2</title>
  <style type="text/css">
    .turbolinks-progress-bar {
      position: field;
      display: block;
      top: 0;
      left: 0;
      height: 3px;
      background: #0076ff;
      z-index: 9999;
      transition: width 300ms ease-out, opacity 150ms 150ms ease-in;
      transform: translate3d(0, 0, 0);
    }
  </style>
</head>
<body>
  <main>
    <p id="notice"></p>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
          <h2>Log in</h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
      <%= f.label :name %><br/>
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field">
      <%= f.label :password %><br/>
      <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="field">
      <%= f.check_box :remember_me %><br>
      <%= f.label :remember_me %><br>
      </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-sm btn-primary" %>
      </div>
      <% end %>
      <%= render "devise/shared/links" %>

        </div>
      </div>
    </div>
  </main>
</body>